# Get External IP / local IPs
alias ip="curl ipinfo.io/ip"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# Quickly serve the current directory as HTTP
alias serve="ruby -run -e httpd . -p 8000"  # Or python -m SimpleHTTPServer :)

alias git uncommit="git reset --soft HEAD~1"
alias textedit="open -a TextEdit"
alias rc="rails c"
alias rcs="rails console --sandbox"
alias rr="rails routes"
alias gnb="git checkout -b"
